<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-primary" (click)="onlyOdd = !onlyOdd" value="Only Show odd numbers">
            <br><br>
            <ul class="list-group">
                <div *ngIf="onlyOdd">
                    <li 
                    class="list-group-item" 
                    *ngFor="let oddNum of oddNumbers"
                    [ngClass]="{ oddStyle: oddNum % 2 !== 0 }"
                    [ngStyle]="{ backgroundColor: oddNum % 2 !== 0 ? 'Yellow' : 'transparent' }"
                    >
                        {{oddNum}}
                    </li>
                </div>

                <!-- <div *ngIf="!onlyOdd">
                    <li 
                    class="list-group-item" 
                    *ngFor="let evenNum of evenNumbers"
                    [ngClass]="{ evenStyle: evenNum % 2 === 0 }"
                    [ngStyle]="{ backgroundColor: evenNum % 2 === 0 ? 'Green' : 'transparent' }"
                    >
                        {{evenNum}}
                    </li>
                </div>
                <ng-template [ngIf]="!onlyOdd">
                    <div>
                        <li 
                        class="list-group-item" 
                        *ngFor="let evenNum of evenNumbers"
                        [ngClass]="{ evenStyle: evenNum % 2 === 0 }"
                        [ngStyle]="{ backgroundColor: evenNum % 2 === 0 ? 'Green' : 'transparent' }"
                        >
                            {{evenNum}}
                        </li>
                    </div>
                </ng-template> -->
                <div *appUnless="onlyOdd">
                    <li 
                    class="list-group-item" 
                    *ngFor="let evenNum of evenNumbers"
                    [ngClass]="{ evenStyle: evenNum % 2 === 0 }"
                    [ngStyle]="{ backgroundColor: evenNum % 2 === 0 ? 'Green' : 'transparent' }"
                    >
                        {{evenNum}}
                    </li>
                </div>
            </ul>
            <p appBasicHightLight>Style me with basic directive!</p>
            <p appBetterHighlight [defaultColor]="'yellow'" [hightlightColor]="'red'">Style me with better directive!</p>
            <div [ngSwitch]="value">
                <p *ngSwitchCase="5">value is 5</p>
                <p *ngSwitchCase="10">value is 10</p>
                <p *ngSwitchCase="15">value is 15</p>
                <p *ngSwitchCase="20">value is 20</p>
            </div>
        </div>
    </div>
</div>